<!DOCTYPE html>
<html>
  <head>
    <title>To-Do List</title>
  </head>
  <body>
    <h2>To-Do List</h2>
    <p>A place to store your to-dos</p>
    <div class="box" *ngFor="let todo of todos">
      <div [ngClass]="{ 'completed': todo.completed }">
        <span *ngIf="!todo.isEditing">{{ todo.task }}</span>
        <input type="text" *ngIf="todo.isEditing" [(ngModel)]="todo.task">
        <button class="complete-button" *ngIf="!todo.completed" (click)="completeTask(todo)">Complete</button>
        <button (click)="removeTask(todo)">X</button>
        <button *ngIf="!todo.isEditing" (click)="editTask(todo)">Edit</button>
        <button *ngIf="todo.isEditing" (click)="todo.isEditing = false">Save</button>
      </div>
    </div>
    
    
    <form (submit)="addTask(task.value); task.value=''; $event.preventDefault()">
      <p>Enter a new task:</p>
      <input type="text" placeholder="Add your to-do" #task required>
      <button type="submit">Add</button>
    </form>
    
  </body>
</html>

